body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: #333;
  color: #fff;
}
input#file {
  display: none;
}
header {
  text-align: center;
}
section {
  display: flex;
  position: relative;
}
section > .section_wrap {
  background-color: #3f3f3f;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(20% - 60px);
  padding: 15px 30px;
}
section > .section_wrap > .controll_wrap {
  display: flex;
  flex-direction: column;
}
section > .section_wrap > * {
  display: block;
}
section .image_source {
  display: block;
  background: #3f3f3f;
  min-height: 70vh;
  min-width: calc(70% - 60px);
  padding: 15px 30px;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.image_source > img, canvas, #result {
    max-height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    max-width: calc(100% - 60px);
}
section .section_wrap.controlls input#brightness,
section .section_wrap.controlls input#contrast,
section .section_wrap.controlls input#opacity {
  direction: rtl;
}
img.placeholder {
  opacity: 0.3;
  width: 180px;
}
.onDragOver {
  opacity: 0.5;
  width: 210px;
}
img.userImageUploaded {
  max-width: 90%;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
}
div.buttons {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
a {
  cursor: pointer;
}
a.saveBtn {
  padding: 10px;
  margin: 0 12px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  background-color: green;
  color: white;
}
a.deleteBtn {
  padding: 10px;
  margin: 0 12px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  background-color: red;
  color: white;
}
a.cancelBtn {
  padding: 10px;
  margin: 0 12px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  background-color: #bdbd02;
  color: white;
}
